#calendar {
	width: 100%;
}

header > button {
	font-size: 0.7em;
	border-radius: 8px;
}

h1 {
	color: #2E4052;
	display: inline-block;
}

h2 {
	color: #F4996B;
}

body {
	background-color: #EDEEF2;
	text-align: center;
	font-size: 16px;
}

input {
	margin: 0 2em;
	border: 2px solid #2E4052;
}

button {
	background-color: #2E4052;
	color: #fff;
	border-radius: 8px;
	border: 0;
	padding: 2em;
	margin-bottom: 1.6em;
}

header button {
	float: right;
	margin: 1em;
}

.result-head {
	background-color: #A9BCD0;
}

.discovery {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 2em;
}
.results {
	height: 1.8em;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 85%;
	margin: 0 auto;
	box-sizing: border-box;
	text-overflow: ellipsis;
}
.result-head {
	width: 10%;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid black;
	padding: .2em;
}

.result {
	width: 10%;
	box-sizing: border-box;
	border: 2px solid black;
	text-align: center;

	white-space: wrap;
  	overflow: hidden;
  	font-size: 0.8em;
}

.bands-submit {
	padding: .5em;
	font-size: 1em;

}

#calendar {
	width: 70%;
	padding-top: 50px;
	margin: 0 auto;
	height: 650px;
	overflow-y: scroll;

}
