.results {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	box-sizing: border-box;
}
.result-head {
	width: 10%;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid black;
}

.result {
	width: 10%;
	box-sizing: border-box;
	border: 2px solid black;
	text-align: center;
}

#calendar {
	width: 100%;
}